<% snippet_body = h(@snippet.body) %>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="hidden">
  <symbol viewBox="0 0 16 16" id="copy-url-icon">
    <path fill="currentColor" d="m7.775 3.275l1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0a.751.751 0 0 1 .018-1.042a.751.751 0 0 1 1.042-.018a1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018a.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018a.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0a.751.751 0 0 1-.018 1.042a.751.751 0 0 1-1.042.018a1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"/>
  </symbol>

  <symbol viewBox="0 0 16 16" id="copy-text-icon">
    <path fill="currentColor" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"/><path fill="currentColor" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"/>
  </symbol>

  <symbol viewBox="0 0 16 16" id="raw-icon">
    <path fill="currentColor" d="M4 1.75C4 .784 4.784 0 5.75 0h5.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v8.586A1.75 1.75 0 0 1 14.25 15h-9a.75.75 0 0 1 0-1.5h9a.25.25 0 0 0 .25-.25V6h-2.75A1.75 1.75 0 0 1 10 4.25V1.5H5.75a.25.25 0 0 0-.25.25v2.5a.75.75 0 0 1-1.5 0Zm1.72 4.97a.75.75 0 0 1 1.06 0l2 2a.75.75 0 0 1 0 1.06l-2 2a.749.749 0 0 1-1.275-.326a.749.749 0 0 1 .215-.734l1.47-1.47l-1.47-1.47a.75.75 0 0 1 0-1.06ZM3.28 7.78L1.81 9.25l1.47 1.47a.751.751 0 0 1-.018 1.042a.751.751 0 0 1-1.042.018l-2-2a.75.75 0 0 1 0-1.06l2-2a.751.751 0 0 1 1.042.018a.751.751 0 0 1 .018 1.042Zm8.22-6.218V4.25c0 .138.112.25.25.25h2.688l-.011-.013l-2.914-2.914l-.013-.011Z"/>
  </symbol>
</svg>

<div class="relative flex h-full group text-sm md:text-base">
  <span class="absolute top-3 right-5 flex space-x-1.5">
    <span class="js-clipboard btn btn-amber opacity-25 group-hover:opacity-75 relative cursor-pointer" data-clipboard-text="<%= request.original_url %>" title="<%= t('.copy_url') %>">
      <svg class="inline" width="18" height="18"><use xlink:href="#copy-url-icon"></use></svg>
      <div class="hidden w-28 bg-amber-700 text-white text-center text-xs py-2 absolute -bottom-full right-0 ml-14 px-3 select-none copied-tooltip"><%= t('.copied') %></div>
    </span>

    <span class="js-clipboard btn btn-amber opacity-25 group-hover:opacity-75 relative cursor-pointer" data-clipboard-text="<%= snippet_body %>"  title="<%= t('.copy_text') %>">
      <svg class="inline" width="18" height="18"><use xlink:href="#copy-text-icon"></use></svg>
      <div class="hidden w-28 bg-amber-700 text-white text-center text-xs py-2 absolute -bottom-full right-0 ml-14 px-3 select-none copied-tooltip"><%= t('.copied') %></div>
    </span>

    <%= link_to({ format: 'text' }, class: 'btn btn-amber opacity-25 group-hover:opacity-75', title: t('.raw')) do %>
      <svg class="inline" width="18" height="18"><use xlink:href="#raw-icon"></use></svg>
    <% end %>
  </span>

  <div class="grow px-5 py-3 bg-slate-700 overflow-x-auto">
    <pre><code class="whitespace-pre-wrap <%= language_class(@snippet) %>"><%= snippet_body %></code></pre>
  </div>
</div>
